{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link other-questions" href="{% url 'index' %}">New questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active cur-questions" aria-current="page" href="{% url 'hot' %}">Hot questions</a>
        </li>
    </ul>
</div>

{% for question in page_objects %}

{% include 'components/question-item.html' %}

{% endfor %}

{% include 'components/pagination.html' %}

{% endblock %}