{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link active cur-questions" aria-current="page" href="#">New questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link other-questions" href="#">Hot questions</a>
        </li>
    </ul>
</div>

{% for question in questions %}

{% include 'components/question-item.html' %}

{% endfor %}

<!--<div class="card">-->
<!--    <div class="row g-0">-->
<!--        <div class="col-2">-->
<!--            <img class="question-img" src="../static/img/ava.jpg" alt="...">-->
<!--            <div class="vote">-->
<!--                <p><input type="number" name="like" value="5" min="0" max="100" step="1"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-10">-->
<!--            <div class="card-body">-->
<!--                <h4><a class="card-title" href="question.html">How to build a moon park?</a>-->
<!--                </h4>-->
<!--                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
<!--                    eiusmod tempor incididunt ut labore et dolore magna-->
<!--                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi-->
<!--                    ut-->
<!--                    aliquip ex ea commodo consequat.</p>-->
<!--                <p>Tags: <a class="ques-tags" href="#">harry</a>, <a class="ques-tags" href="#">whale-->
<!--                </p>-->
<!--                <a class="ques-ans" href="#">Go to answers (10)</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Prev</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

{% endblock %}