{% extends 'layouts/base-auth.html' %}

{% load static %}

{% block content %}

<h2 class="h2-ask">Settings: Dr. Pepper</h2>
<div class="row">
    <div class="col-2 signup-text">
        <p>Login</p>
    </div>
    <div class="col-6">
        <input placeholder="dr_pepper" class="signup-input"></input>
        <!-- <div class="signup-alert">
            <div class="alert-child">Login is unvaluable.</div>
        </div> -->
    </div>
</div>
<div class=" row">
    <div class="col-2 signup-text">
        <p>Email</p>
    </div>
    <div class="col-6">
        <input type="email" placeholder="dr.pepper@mail.ru" class="signup-input">
        <!-- <div class="signup-alert"> -->
        <!-- <div class="alert-child">This email address already registred! / Wrong Format.</div>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col-2 signup-text">
        <p>Nickname</p>
    </div>
    <div class="col-6">
        <input placeholder="Dr. Pepper" class="signup-input">
        <!-- <div class="signup-alert">
                <div class="alert-child">Nickname is unavaliable.</div>
            </div> -->
    </div>
</div>

<div class="row">
    <div class="col-2 signup-text">
        <p class="upload-ava">Upload avatar</p>
    </div>
    <div class="col-6">
        <img class="settings-img" src="../static/img/ava.jpg">
        <form action="/upload" method="post" enctype="multipart/form-data" class="signup-form">
            <input type="file" name="image" id="image" class="signup-fileinput">
        </form>

    </div>
</div>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-6">
        <button class="btn signup-btn">Save</button>
    </div>
</div>

{% endblock %}